.box, .box-nested{
    min-height: 50px;
    background: #006cfa;
    border: 1px solid white;
    text-align: center;
    color: white;
    padding: 15px;
}
.box-nested{
    background: limegreen;
    border-color: #006cfa;
}
.box-large{
    height: 120px;
}
section{
    margin-bottom: 20px;
}
.red{
    background-color: #D90B0D;
    border: 0;
}
.black{
    background: black;
    border: 0;
}
.white{
    background: white;
    border: 0;
}
.blue{
    background-color: #D90B0D;
    border: 0;
}
#pixel{
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 120px;
}